body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  overflow: hidden;
}

.bg-blur {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.bg-shadow {
  box-shadow: -6px 6px 7px rgba(99, 99, 99, 0.26);
}

.pin-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.primary-gradient {
  background: linear-gradient(359.78deg, #4094b0 -68.34%, #17353f 157.71%);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.formulate-input-upload-area {
  @apply flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md;
}

#file-upload-button {
  @apply font-medium text-primary-600 underline transition duration-150 ease-in-out;
}

.remove-icon {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.1 59.2"><path d="M1.6,57.7a5,5,0,0,0,3.5,1.5,4.85,4.85,0,0,0,3.5-1.5l21-21,21,21a5,5,0,0,0,3.5,1.5,4.85,4.85,0,0,0,3.5-1.5,5,5,0,0,0,0-7.1l-21-21,21-21a5,5,0,0,0,0-7.1,5,5,0,0,0-7.1,0l-21,21L8.6,1.7a5,5,0,0,0-7.1,0,5,5,0,0,0,0,7.1l21,21L1.6,50.7A4.83,4.83,0,0,0,1.6,57.7Z"/></svg>');
  mask-size: 0.6em;
  mask-repeat: no-repeat;
  mask-position: center;
}

.upload-icon {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" /></svg>');
  mask-repeat: no-repeat;
  mask-position: center;
}

.upload-bar[data-is-finished] {
  @apply hidden;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

.minimal-scrollbar {
  scrollbar-color: #acbbca #edf2f7;
  scrollbar-width: thin;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.minimal-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.minimal-scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #acbbca;
}

.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #edf2f7;
}

// Hide scrollbar but keep scroll
.no-bar::-webkit-scrollbar {
  display: none;
}

.no-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite !important;

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

.vdatetime-popup .vdatetime-calendar__month {
  padding-top: 10px;
  min-height: 320px;
}

.vdatetime-popup .vdatetime-popup__header {
  background: #429db5;
}

.vdatetime-popup .vdatetime-calendar__month__day--selected > span > span,
.vdatetime-popup .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #429db5;
}

.zd-comment a {
  color: #429db5;
}

.animate__fastest {
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
}

.status-gold {
  background-color: #c6b677;
  color: #fff;
}

.status-silver {
  background-color: #afbec0;
  color: #fff;
}

.status-platinum {
  background-color: #b1b2af;
  color: #fff;
}

.status-health-safety {
  background-color: #4094b0;
  color: #fff;
}

.white-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 29%
  );
}

p {
  margin-bottom: 10px !important;
}
